#brand-name{
  background-color: aliceblue;
}
.filter-column{
  background-color: cornsilk;
  border-right: 1px solid red;
}
.dashboard{
  max-width: 100%;
}
/**
 * Cambios
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}


/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  padding-left: 3%;
  background-color: #efefef;
  text-align: left;
}
#legal{
  text-align: right;
}
#pruebas{
   display: none;
 }
#botones-graficos{
  display: none;
}
.filtro{
  padding-left: 15%;
}
.carousel {

  position: absolute;
  vertical-align: middle;
  width: 100%;

}
.carousel-inner {

  position: relative;
  width: 100%;
  overflow: hidden;
  left: 20%;

}
