/*Nombre superior de la web*/
#brand-name{
  background-color: aliceblue;
}
.container {
  max-width: 100% !important;
}
/*Tamaño del dashboard*/
.dashboard{
  max-width: 100%;
}
/*Footer sticky*/
#footer{
  background-color: #E7E7E7;
  font-size: 15px;
  color: black;
  border-top: 1px solid #E7E7E7;
  text-align: left;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: block;
}
#phantom {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}
#legal{
  text-align: right;
}
/*No se muestra de primeras la frase del filtro*/
#pruebas{
   display: none;
 }
/*Ocultamos uno de los logos de los filtros para ir cambiandolos luego*/
#botones-graficos{
  display: none;
}
/*Centrado del botón del filtro con el gráfico*/
.filtro{
  padding-left: 15%;
}

/*Posición y tamaño del carrousel*/
.carousel {

  vertical-align: top;
  width: 100%;
  height: 400px;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 400px;
}
.carousel-item {
  width: 100% !important;
  height: 400px ;
  left: 12.5%;
}
.carousel-caption{
  right: 40%;
  height: 250px;
}

#home-description{
  padding: 80px 20px 0px 0px;
  text-align: justify;
}

.pop-up{
  background-color: transparent !important;
  color: black;
  border: none;
  margin-bottom: 5px;
}
.pop-up:hover{
  background-color: transparent !important;
  color: lightskyblue;
  border: none;
  margin-bottom: 5px;
}
.graphic-1{

  //background:black;
}
.graphic-1-img{
  //opacity:0.5;
  //background: url("http://cdn3.spiegel.de/images/image-994882-860_poster_16x9-uxye-994882.jpg");
}

.datePicker{
  margin: 10% !important;
  margin-top: 5px !important;
}

.backgroundFilter {
  border: 3px solid;
  border-radius: 10px;
}

.zipCode {
  background-color: #cce5ff;
  border: 3px solid #17a2b8;
  border-radius: 10px;
  height: 100%;
}